@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    /* color:aquamarine; */
    text-decoration: unset;
}

ul{
    margin-left: 1.5rem;
    list-style: none;
}

button,
input[type="submit"]{
    border:none;
    background: none;
    color:unset;
    cursor:pointer;
}

h1,h2,h3,h4,h5,h6,p,ul,ol {
    margin: 1em 0;
}

/* general */
body{
    font-family: "Roboto", sans-serif;
}
/* 
.container{
    max-width: 1850px;
    margin: 0 auto;
} */

/* header */
#header{
    height: 50px;
    background-color:  rgb(255,191,205);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header .title{
    margin: 0;
    padding: 0 1rem;
    color: #ffffff;
}

#header .authOptions{
    height: 100%;
    display: flex;
}

#header .authOptions button{
    background-color: rgb(255,191,205);
    padding: 0 1rem;
    color: #ffffff;
    font-size: 1.1 rem;
}

#header .authOptions button:hover{
    background-color:  rgb(255, 225, 231);
}

/* Error Notice */
.error-notice {
    border: 1px solid #ec8383;
    background-color: #ee6464;
    padding: 0.5rem;
    border-radius: 8px;
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.error-notice button {
    background-color: #e65959;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #ffffff;
}


@media screen and (min-width: 550px){
    #header .title {
        font: 1.2rem;
    }
    #header .authOptions button{
        font-size: 1rem;
        padding: 0 0.5rem;
    }
}

.page {
    padding: 1rem;
}

/* form */

.form label,
.form input{
    display: block;
}

.form input{
    margin-bottom: 1rem;
}


.form label{
    margin-bottom: 0.2rem;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="password"]{
    width: 100%;
    padding: 0.3rem;
    font-size: 1.1 rem;
    border: 1px solid #cccccc;
    background-color: #dfdede;
    border-radius: 8px;
}

.form input:focus{
    outline:none;
    border: 1px solid rgb(46, 114, 240);
    box-shadow: inset 0px 0px 5px rgba(71, 130, 240, 0.5);
}

.form input[type="submit"] {
    border: 1px solid #7270f0;
    background-color:#8f8ef1;
    padding: 0.3rem 0.5rem;
    font-size: 1.1rem;
    border-radius: 8px;
}

/* Project Card Styles */
/* relevant styles */
.img__wrap {
    position: relative;
    display: inline-block;
    padding: 2px;
}


  
  .img__description {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 191, 205, 0.72);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    margin: auto;
    text-align: center;
    display: flex;
  justify-content: center;
  align-items: center;
  
    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
  }
  
  .img__wrap:hover .img__description {
    visibility: visible;
    opacity: 1;
  }


  .img__img{
    width: 100%;
    height: auto;
    
}

@media screen and (min-width: 550px){

    

    .img__wrap {
        position: relative;

    }

    .project-card-col{
        display: inline-block;
        width:20%;
        height:auto;
    }

    .project-page-row{
        /* display: flex; */
        width: 100%;
    }

}

  
  @media screen and (max-width: 549px){



    
    .img__wrap {
        position: relative;

    }

    .project-card-col{
        display: inline-block;
        width:100%;
        height:auto;
    }

    .project-page-row{
        /* display: flex; */
        width: 100%;
    }
  }

  .footer{
      text-align: center;
      background-color: #ff0f7f;
      padding-top: 5px;
      padding-bottom: 5px;
      
  }

/* Social Bar Styling */

.social-icon {
    position: relative;
    margin-left: 10px;
    border-radius: 30%;

}

.social-icon:hover {
    opacity: 0.7;

}

.social-email .email-form .email-submit{
    margin-left: 40px;
    border:rgba(255, 191, 205, 0.72) solid 0.1rem;
    border-radius: 8px;
    background-color: rgba(255, 191, 205, 0.72);
    padding: 8px 20px;
    color: white;
}

.social-email ::placeholder{
    padding-left: 50px;
    color: rgba(255, 191, 205, 0.72);
}

.social-email :focus-within{
    padding-left: 50px;
    color: white;
}

.social-email  ::-ms-input-placeholder{
    margin-left: 20px;
    color: rgba(255, 191, 205, 0.72);
}

.social-bar{
    margin-bottom: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
}

  @media screen and (min-width: 550px){

    .social-bar{
        text-align: center;
        justify-content: center;
    }

    .social-icon {
        position: relative;
        height:75px;
        width: 75px;
        margin-left: 30px;
        border-radius: 30%;
        float:left;

    }

    .social-links{
        margin-left: 200px;
    }

    .email-form{
        padding-top: 18px;
        justify-content: space-between;
    }

    .email-input{
        width: 50%;
        margin-left: 100px;
        height: 40px;
        border:rgba(255, 191, 205, 0.72) solid 0.1rem;
        border-radius: 8px;
    }

    .email-input:focus{
        background-color: rgb(255, 191, 205);
        border:rgba(224, 201, 206, 0.72) solid 0.1rem;

    }

    


}

  
  @media screen and (max-width: 549px){



    .social-icon {
        position: relative;
        height:120px;
        width: 120px;

        margin-top: 20px;
    }

    .social-links{
        text-align: center;
    }


    .email-form{
        padding-top: 18px;
        justify-content: space-between;
    }

    .email-input{
        width: 50%;
        margin-left: 10px;
        height: 40px;
        border:rgba(255, 191, 205, 0.72) solid 0.1rem;
        border-radius: 8px;
    }

    .email-input:focus{
        background-color: rgb(255, 191, 205);
        border:rgba(224, 201, 206, 0.72) solid 0.1rem;

    }

    
  }

/* Bottom Nav Styling */
.bottom-nav{
    background-color: rgb(255,191,205);
    padding: 30px;
    padding-left: 70px;
    color: white;
    font-size: 1.5rem;
}

.bottom-nav li{
    padding: 4px;
}

.bottom-nav a:hover{
    text-decoration: underline;
}

.bottom-nav-row{
    width: 100%;
    
    
}



@media screen and (min-width: 550px){
.bottom-nav-col{
    width: 25%;
    display: inline-block;
}
.bottom-nav-logo{
    width: 20%;
    height: auto;
    float: inline-end;
}
}

@media screen and (max-width: 549px){
    .bottom-nav-col{
        width: 50%;
        display: inline-block;
        padding-bottom: 15px;
    }
    .bottom-nav-logo{
        padding-top: 10px;
        width: 100%;
        height: auto;
        float: inline-end;
    }
    
    }


/* Footer Styling  */
  .footer{
      text-align: center;
      background-color: rgb(248, 156, 176);
      color: white;
      padding-top: 5px;
      padding-bottom: 20px;
      font-size: 1.5rem;
      margin-top: 0px;
      margin-bottom: 0px;
      
  }

  .footer:hover{
    font-size: 1.6rem;
  }

  
/* Project Page Styling */

  @media screen and (min-width: 550px){
    .project-page-col img{
        width: 60%;
        height: auto;
    }
    .project-page-col {
        display: inline-block;
        width: 50%;
        margin-top: 20px;
        
    }
    
    .project-page-row{
        display: flex;
        margin: 20px;

    }

    .project-page-content{
        text-align: center;
    }


  }

  @media screen and (max-width: 549px){
    .project-page-col img{
        width: 100%;
        height: auto;
    }
    .project-page-col {
    
        width: 100%;
        padding: 10px;
        
    }
    
    .project-page-row{
        /* display: flex; */
        /* margin: 10px; */

    }

    .project-page-content{
        text-align: center;
    }



  }

/* Delete Project Styling */
#delete-card{

    background: rgba(255, 0, 0, 0.72);
  }

 